body {
  background-color: #202020;
}
.mainView {
  background-color: #f8f8f8;
  min-height: 50%;
}
.link-unstyled {
  color: #6d6d6d;
}
.link-unstyled:hover {
  text-decoration: none;
}
.link-unstyled.chosen {
  color: #367da2;
  font-weight: bold;
}
.arij-messageContainer {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10000;
  opacity: 1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.arij-messageContainer.invisible {
  opacity: 0;
}
.arij-message {
  position: relative;
  left: -50%;
}
#sidenav {
  background-color: #202020;
  color: #eeeeee;
  height: calc(50%);
}
#sidenav .logo {
  color: #FFB400;
  font-weight: 600;
  font-size: 2em;
}
#navbar {
  line-height: 34px;
  height: 61px;
  background-color: #343434;
}
