body {
  background-color: #f3f3f3;
}
.navbar-default > .navbar-brand{
  font-size: 32px;
  line-height: 34px;
  height: 61px;
  color: #FFB400;
  font-weight: 600;
}

div.mainMenu {
  background-color: #eeeeee;
  min-height: 20px;
  line-height: 29px;
}

.mainView {
  background-color: #f8f8f8;
}

.navbar.navbar-main {
  margin-bottom: 0;
}

.link-unstyled {
  color: #6d6d6d;
}

.link-unstyled:hover {
  text-decoration: none;
}

.link-unstyled.chosen {
  color: #367da2;
  font-weight: bold;
}
.arij-messageContainer {
  position: absolute;
  top:0;
  left: 50%;
  z-index:10000;
  opacity: 1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.arij-messageContainer.invisible {
  opacity: 0;
}
.arij-message {
  position: relative;
  left: -50%;
}

.settingsMenu{
  padding: 1em;
}
